<template lang="html">

<div>
  <table class="table table-striped">
  <tbody>
    <tr><th></th><th>Цена</th><th>Количество</th></tr>

          <tr v-for="(item, cart_id) in items">
            <td :class="{nullitem: item.num==0}">
            {{item.title}}
            </td>
            <td>
            {{item.price}}&thinsp;&#8381;
            </td>
            <td>
            <input v-on:change="highlight" v-model.number="item.num" class="form-control" style="width:5em" type="number" step="1" min="0" max="300" :name="'products_id['+cart_id+']'">
            </td>
          </tr>

    <tr>
    <td><b>Итого</b></td>
    <td><span id="ordersum">{{sum_calc()}}&thinsp;&#8381;</span>
    </td>
    <td></td>
    </tr>
  </tbody>

  </table>
</div>

</template>

<script>
export default {
  props: ['cartitems'],
  data:function() {
    return {
    items: this.cartitems,
    pre_sum: 0,
    sum:0
  }},
  computed:{
  },
watch:{
  items:function (val, old) {
  }
},
  methods:{
highlight:function () {
  $("#ordersum").highlight('#ffe091',700);
},
    sum_calc:function () {
      var sum = 0;
      $.each(this.items, (i, v) => sum = sum + v.price*v.num );
      // this.sum_animation(this.pre_sum, sum);
      // this.pre_sum = sum;

     return sum;
    },
 //    sum_animation: function(prev, cur){
 //      console.log(prev, cur);
 //      // если сумма заказа увеличена, то одна css-анимация, иначе другая
 //      if(prev > cur){
 // // $('#ordersum').addClass('ani_selected');
 //      }
 //      else{
 // // $('#ordersum').addClass('ani_unselected');
 //      }
 //  }
}
}
</script>

<style lang="css">

/*.ani_selected {
  animation: ani-pop 0.4s 1 ease;
}
.ani_unselected {
  animation: ani-push 0.4s 1 ease-out;
}
@keyframes ani-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes ani-push {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}*/

</style>
