.nav1 a:link,.nav1 a:visited {
 color: #0081c2!important;
}
/* for fixed topnav */
/*body { padding-top: 70px; }*/

.my-wide-container{
    width: 1300px;
}
.text-verymuted{
  color: #a2a2a2;
}

.bg-fade{
    background-color: #f7f7f7;
}
.title_width.title_width {
    width: 400px;
    padding-left: 5px;
}
.branch_table_header{
    background-color: rgba(255, 255, 255, 0.9);

}
.branch_table_data td{
    border-bottom:1px solid rgba(128, 128, 128, 0.1);
}
.branch_table_data tr:hover{
    background-color: #f7f7f7;
}
.exchange{
    background-color: #f7f5fd;
}
 .exchange .overage{
    color: #1058d4;
}
.right_border{
    border-right: 1px solid #e6e6e6;
}
.branch_city{
    background-color: #fff;
    border-bottom: 1px solid rgba(128, 128, 128, 0.18);
    border-right: 1px solid rgba(128, 128, 128, 0.18);
    padding-top: 15px!important;

}
.branch_table td:not(:first-child) {
    text-align: center;
    padding: 0;
    font-size:90%;
}
.gproducts{
    display: none;
}
.gproducts .title_width{
    padding-left:2em;
}
.group_row + .gproducts td.title_width::before{
    content: '\21B3';
    position: absolute;
    left: 1.9em;
    color: #cacaca;
}
.group_title{

    font-weight: bold;
    color: #848484;
}
.group_row{
    cursor: pointer;
}
.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}

.sorting, .sorting_asc, .sorting_desc {
    background : none;
}


.branch_table{
    width: 100%;
    table-layout: fixed;
}
.branch_table td  {
    padding: 0;
    font-size:90%;
}

.exchange_city{
    width: 14em;
    text-align: center;
}

.exchange_arrow{
    font-size:150%;
    line-height: 100%!important;
    color: #8daabd;
}
.branch_table .vertical {
    transform: rotate(90deg);
    height: 84px;
    vertical-align: middle;
}

.btn-primary {
    color: #2a88bd;
    background-color: #ffffff;
    /*border-color: #2a88bd!important;*/
    transition: all 0.3s;
}
.hovercart:hover::after{
  content: '+';
  margin-left: 0.5em;
  font-size: 11px;
}
.nullitem{
  color: #a2a2a2;
  text-decoration: line-through;
}

.infolabel{
    cursor: help;
    border-bottom:1px #cacaca dashed;
}

/* создана */
.label-status1{
  background-color: rgb(49, 138, 176);
}

/* на рассмотрении */
.label-status2{
    background-color: rgb(67, 199, 131);
}

/* Резерв */
.label-status3{
    background-color: rgb(142, 67, 199);
}

/* Выполнено */
.label-status4{
    background-color: #aabd08
}

/* Отмена */
.label-status5{
    background-color: rgb(247, 126, 41);
}

/* Пауза */
.label-status6{
  background-color: rgb(191, 200, 205);
}
